body {
  font-family: roboto;
  color: %color:On Background%;
  margin: 0
}

.navigation-rail {
  background-color: %color:Surface%;
  width: 80px;
  padding: 56px 12px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  position: fixed;
  left: 0;
  top:0;
  z-index:100;

  @media(max-width: 600px) {
  width: 100vw;
  height: 80px;
  column-gap: 8px;
  padding: 12px 8px 16px 8px;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  top: unset
  }
}

.navigation-rail [anvil-dropzone] {
  margin-top: -6px;
  margin-bottom: -6px;
}

.content {
  top: 0;
  @media(min-width: 600px) {
    left: 80px;
    position:relative;
  }
}

/*navigation link component*/
.navigation-link {
  text-align: center;
}

.navigation-link {
  text-decoration: none;
  color: %color:On Surface Variant%;
  transition: background 0.2s;
}

.navigation-link [anvil-name=navigation-link-icon] {
  transition: background 0.2s;
  padding: 8px 20px; 
  border-radius: 16px;
}

.navigation-link .navigation-link-text {
  padding-top: 4px;
}

.navigation-link:hover [anvil-name=navigation-link-icon], .navigation-link:focus [anvil-name=navigation-link-icon] {
  background-color: %color:Dark Overlay 1%;
}

.navigation-link.selected {
  color: %color:On Secondary Container%;
}

.navigation-link.selected [anvil-name=navigation-link-icon] {
  background-color: %color:Secondary Container%;
}

.navigation-link.selected:hover [anvil-name=navigation-link-icon], .navigation-link.selected:focus [anvil-name=navigation-link-icon] {
  background: linear-gradient(0deg, rgba(29, 25, 43, 0.12) 0%, rgba(29, 25, 43, 0.12) 100%), rgba(232, 222, 248, 1);
}

.navigation-link.selected:active [anvil-name=navigation-link-icon] {
  background: radial-gradient(circle farthest-corner at 65px 100%, rgba(29, 25, 43, 0.12) 70%, rgba(29, 25, 43, 0.12) 70%, rgba(232, 222, 248, 1) 70%), rgba(232, 222, 248, 1)
}

.navigation-link .icon-badge {
  display: block;
  background-color: %color:Error%;
  height: 6px;
  width: 6px;
  border-radius: 6px;
  position: absolute;
  margin-left: 14px;
  margin-top: -22px;
}


/*Dialogs: alerts and notifications*/
/*Default Anvil alert*/
.aw-modal-content {
  background: linear-gradient(0deg, %color:Primary Overlay 3%, %color:Primary Overlay 3%), %color:Background%;
  box-shadow: none;
  border: none;
  border-radius: 28px;
  padding: 24px;
}

.aw-modal-header {
  padding: 0;
  padding-bottom: 16px;
  border-bottom: none;
}

.aw-close {
  display: none;
}

.aw-modal-title.alert-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.aw-modal-body {
  padding: 0;
}

.aw-modal-footer {
  padding: 0;
  padding-top: 24px;
  border-top: none;
}

/*TODO: remove this when buttons are styled?*/
.aw-modal-footer .btn {
  color: %color:Primary%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  background-image: none;
  
}
