body{
  font-family: roboto;
  color: #1D1B20
}

.navigation-rail {
  background-color: #FEF7FF;
  width: 80px;
  padding: 56px 12px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  position: fixed;

  @media(max-width: 600px) {
  width: 100vw;
  height: 80px;
  column-gap: 8px;
  padding: 12px 8px 16px 8px;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  }
}

.navigation-rail [anvil-dropzone] {
  margin-top: -6px;
  margin-bottom: -6px;
  
}

/*navigation link component*/
.navigation-link {
  text-align: center;
}

.navigation-link {
  text-decoration: none;
  color: #1D192B;
}

.navigation-link [anvil-name=navigation-link-icon] {
  padding: 8px 20px; 
  border-radius: 16px;
}

.navigation-link .navigation-link-text {
  padding-top: 4px;
}

.navigation-link:hover [anvil-name=navigation-link-icon], .navigation-link:focus [anvil-name=navigation-link-icon] {
  background-color: rgba(29, 27, 32, 0.08)
}

.navigation-link.selected [anvil-name=navigation-link-icon] {
  background-color: #E8DEF8;
}

.navigation-link.selected:hover [anvil-name=navigation-link-icon], .navigation-link.selected:focus [anvil-name=navigation-link-icon] {
  background: linear-gradient(0deg, rgba(29, 25, 43, 0.08) 0%, rgba(29, 25, 43, 0.08) 100%), rgba(232, 222, 248, 1);
}

