@import './_/theme/anvil-m3/button.css';
@import './_/theme/anvil-m3/checkbox.css';
@import './_/theme/anvil-m3/switch.css';
@import './_/theme/anvil-m3/navigation-link.css';
@import './_/theme/anvil-m3/card.css';
@import './_/theme/anvil-m3/text-fields.css';
@import './_/theme/anvil-m3/radiobutton.css';
@import './_/theme/anvil-m3/iconbutton.css';
@import './_/theme/anvil-m3/menu.css';
@import './_/theme/anvil-m3/text.css';
@import './_/theme/anvil-m3/progress-indicator.css';
@import './_/theme/anvil-m3/fileloader.css';

:root {
  --anvil-m3-primary: %color:Primary%;
  --anvil-m3-primary-container: %color:Primary Container%;
  --anvil-m3-on-primary: %color:On Primary%;
  --anvil-m3-on-primary-container: %color:On Primary Container%;
  --anvil-m3-secondary: %color:Secondary%;
  --anvil-m3-secondary-container: %color:Secondary Container%;
  --anvil-m3-on-secondary: %color:On Secondary%;
  --anvil-m3-on-secondary-container: %color:On Secondary Container%;
  --anvil-m3-tertiary: %color:Tertiary%;
  --anvil-m3-tertiary-container: %color:Tertiary Container%;
  --anvil-m3-on-tertiary: %color:On Tertiary%;
  --anvil-m3-on-tertiary-container: %color:On Tertiary Container%;
  --anvil-m3-surface-container: %color:Surface Container%;
  --anvil-m3-surface-container-highest: %color:Surface Container Highest%;
  --anvil-m3-surface-container-low: %color:Surface Container Low%;
  --anvil-m3-surface: %color:Surface%;
  --anvil-m3-on-surface: %color:On Surface%;
  --anvil-m3-surface-variant: %color:Surface Variant%;
  --anvil-m3-background: %color:Background%;
  --anvil-m3-outline: %color:Outline%;
  --anvil-m3-outline-variant: %color:Outline Variant%;
  --anvil-m3-primary-overlay-1: %color:Primary Overlay 1%;
  --anvil-m3-primary-overlay-2: %color:Primary Overlay 2%;
  --anvil-m3-primary-overlay-3: %color:Primary Overlay 3%;
  --anvil-m3-on-disabled: %color:On Disabled%;
  --anvil-m3-disabled-container: %color:Disabled Container%;
  --anvil-m3-disabled-container-2: %color:Disabled Container 2%;
  --anvil-m3-light-overlay-1: %color:Light Overlay 1%;
  --anvil-m3-light-overlay-2: %color:Light Overlay 2%;
  --anvil-m3-dark-overlay-1: %color:Dark Overlay 1%;
  --anvil-m3-dark-overlay-2: %color:Dark Overlay 2%;
  --anvil-m3-dark-overlay-3: %color:Dark Overlay 3%;
  --anvil-m3-on-surface-variant: %color:On Surface Variant%;
  --anvil-m3-error: %color:Error%;
  --anvil-m3-on-error: %color:On Error%;
  --anvil-m3-on-error-container: %color:On Error Container%;
  --anvil-m3-error-overlay-1: %color:Error Overlay 1%;
  --anvil-m3-error-overlay-2: %color:Error Overlay 2%;
  --anvil-m3-inverse-surface: %color:Inverse Surface%;
  --anvil-m3-inverse-on-surface: %color:Inverse On Surface%;
  --anvil-m3-on-surface-variant-overlay-1: %color:On Surface Variant Overlay 1%;
  --anvil-m3-on-surface-variant-overlay-2: %color:On Surface Variant Overlay 2%;
  --anvil-m3-inverse-on-surface-overlay-1: %color:Inverse On Surface Overlay 1%;
  --anvil-m3-inverse-on-surface-overlay-2: %color:Inverse On Surface Overlay 2%;

}

body {
  font-family: roboto;
  color: %color:On Background%;
  background-color: %color:Background%;
  margin: 0;
}

/*NAVIGATION: RAIL, DRAWER, APP BAR*/
@media(min-width: 600px) {
.anvil-m3-navigation-rail {
  background: linear-gradient(0deg, %color:Primary Overlay 2%, %color:Primary Overlay 2%), %color:Background%; 
  width: 80px !important;
  left: 0px !important;
/* padding: 56px 12px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  overflow-y: auto;
  z-index:8;
  top: 0;
}
}
  
*:focus-visible {
    outline-color: var(--anvil-m3-primary);
}
  
@media(max-width: 600px) {
.anvil-m3-navigation-rail.anvil-m3-bottom-app-bar, .anvil-m3-navigation-rail.anvil-m3-navigation-drawer {
    width: 100%;
    padding: 12px 8px 16px 8px;
    flex-direction: row;
    justify-content: center;
    overflow-y: hidden;
    background: linear-gradient(0deg, %color:Primary Overlay 2%, %color:Primary Overlay 2%), %color:Background%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index:8;
    top: 0;
  }
}

@media(max-width: 600px) {
  .anvil-m3-navigation-rail.anvil-m3-navigation-drawer {
    display: block;
/*     width: 0px; */
    height: 100%;
    padding: 28px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    margin: 0;
    top: 0;
    left: -101%;
    border-right: none;
    border-radius: 0 20px 20px 0;
    position: absolute;

  }
}

@property --PrimaryOverlay2 {
  syntax: '<color>';
  initial-value: %color:Primary Overlay 2%;
  inherits: false;
}


.anvil-m3-top-app-bar.anvil-m3-scrolled {
  background: linear-gradient(0deg, %color:Primary Overlay 2%, %color:Primary Overlay 2%), %color:Background%;

}


/* @media(max-width: 600px) {
  .anvil-m3-navigation-rail.anvil-m3-navigation-drawer .anvil-m3-navigation-rail-content {
    display: none;
  }
} */

/* @media(max-width: 600px) {
  .anvil-m3-navigation-rail.anvil-m3-navigation-drawer {
    display: none;
  }
} */

@media(max-width: 600px) {
.anvil-m3-navigation-rail.anvil-m3-bottom-app-bar {
    bottom: 0;
    top: unset;
    height: 80px;
  }
}

.anvil-m3-top-app-bar  {
  display:none;
}

.anvil-m3-navigation-rail.anvil-m3-navigation-drawer + .anvil-m3-top-app-bar {
    z-index: 1;
    position: fixed;
    transition: background-color .25s;
    -webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    -o-transition: background-color .25s;
  }


@media(max-width: 600px) {
  .anvil-m3-navigation-rail.anvil-m3-navigation-drawer + .anvil-m3-top-app-bar {
/*     height: 64px; */
    padding: 20px 16px 24px;
    justify-content: space-between;
    align-items: start;
    display: flex !important;
    width: 100%;
    column-gap: 24px;
    position: relative;
  }
}


.anvil-m3-title-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  align-items: center;
}

@media(max-width: 600px) {
  .anvil-m3-navigation-rail.anvil-m3-navigation-drawer + .anvil-m3-top-app-bar .anvil-m3-app-bar-links {
    display: flex;
    padding-right: 16px;
    column-gap: 24px;
    align-items: center;
    justify-content: right;
  }
}

@media(max-width: 600px) {
  .anvil-m3-navigation-rail.anvil-m3-navigation-drawer.anvil-m3-shown {
    width: 360px;
    left: 0px;
    transition: right 0.25s;
    transition: left .25s;
  }
}

@media(max-width: 600px) {
  .anvil-m3-navigation-rail.anvil-m3-navigation-drawer.anvil-m3-shown .anvil-m3-drawer-close-btn {
    display: block;
/*     padding-left: 28px; */
  }
}

@media(max-width: 600px) {
.anvil-m3-navigation-rail.anvil-m3-navigation-drawer + .anvil-m3-top-app-bar .anvil-m3-drawer-open-btn span, .anvil-m3-navigation-rail.anvil-m3-navigation-drawer .anvil-m3-drawer-close-btn span {
  font-size: 24px;
  }
}

.anvil-m3-drawer-open-btn, .anvil-m3-drawer-close-btn {
  display: none;
  cursor: pointer;
}

.anvil-m3-navigation-rail.anvil-m3-navigation-drawer + .anvil-m3-top-app-bar .anvil-m3-drawer-open-btn {
  display: flex;
}

@media(max-width: 600px) {
  .anvil-m3-navigation-drawer-scrim {
    background-color: rgba(0, 0, 0, 0.32);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
/*     opacity: 0; */
/*     transition: opacity 0.25s; */
  }
}

@media(max-width: 600px) {
  .anvil-m3-navigation-drawer.anvil-m3-shown ~ .anvil-m3-navigation-drawer-scrim {
    display: block;
  }
}

.anvil-m3-navigation-drawer-scrim {
  display:none;
}

.anvil-m3-navigation-rail-content {
  display: flex;
  margin-top: 20px;
  width: 80px;
  flex-direction: column;
}

@media(max-width: 600px) {
.anvil-m3-navigation-rail.anvil-m3-bottom-app-bar .anvil-m3-navigation-rail-content {
      margin-top: 0px;
      flex-direction: row;
      width: 100%;
      height: 80px;
      justify-content: center;
      column-gap: 8px
  }
}

@media(max-width: 600px) {
.anvil-m3-navigation-rail.anvil-m3-navigation-drawer .anvil-m3-navigation-rail-content {
      width: 100%;
  }
}

.anvil-m3-navigation-rail [anvil-dropzone] {
  margin-top: -6px;
  margin-bottom: -6px;
}

.anvil-m3-content {
  top: 0;
  padding: 8px;
  position:relative;
}

@media(min-width: 600px) {
  .anvil-m3-content {
    left: 80px;
    width: calc(100% - 80px);
    }
}

/* @media(max-width: 600px) {
  .anvil-m3-content.anvil-m3-navigation-drawer {
    top: 64px;
    }
} */

/*DIALOGS: ALERTS AND NOTIFICATIONS*/
/*Default Anvil alert*/
.anvil-modal-content {
  background: linear-gradient(0deg, %color:Primary Overlay 3%, %color:Primary Overlay 3%), %color:Background%;
  box-shadow: none;
  border: none;
  border-radius: 28px;
  padding: 24px;
}

.anvil-modal-header {
  padding: 0;
  padding-bottom: 16px;
  border-bottom: none;
}

.anvil-close {
  display: none;
}

.anvil-modal-title.alert-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.anvil-modal-body {
  padding: 0;
}

.anvil-modal-footer {
  padding: 0;
  padding-top: 24px;
  border-top: none;
}

/*TODO: remove this when buttons are styled?*/
.anvil-modal-footer .btn {
  color: %color:Primary%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  background-image: none;
}

/*DIVIDER*/
.anvil-m3-divider {
  border: solid 1px %color:Outline Variant%;
  margin-top: 8px;
  margin-bottom: 8px
}

.anvil-m3-divider.inset {
  margin-left: 16px;
  margin-right: 16px;
}

.anvil-m3-divider.full-width {
  margin-left: 0px;
  margin-right: 0px;
}

.anvil-m3-textlessComponentText {
  font-style: italic !important;
  color: var(--anvil-m3-on-disabled) !important;
  font-weight: 400;
}

