.anvil-m3-card {
  display: inline-block;
  background: none;
  border: none;
  min-width: 15px;
  padding: 0 16px;
  margin: 0 8px 8px 0;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

/* Elevated */
.anvil-m3-card.anvil-m3-elevated { 
  background-color: var(--anvil-m3-surface-container-low); 
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);   /* lvl 1 */
}
.anvil-m3-card.anvil-m3-elevated.anvil-m3-interactive:not(.anvil-m3-disabled):hover {
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface-container-low); 
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);   /* lvl 2 */
}
.anvil-m3-card.anvil-m3-elevated.anvil-m3-disabled {
  color: var(--anvil-m3-surface-variant);
  opacity: .38;
  box-shadow: none;
}

/* Filled */
.anvil-m3-card.anvil-m3-filled { 
  background-color: var(--anvil-m3-surface-container-highest); 
}
.anvil-m3-card.anvil-m3-filled.anvil-m3-interactive:not(.anvil-m3-disabled):hover {
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface-container-highest); 
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);    /* lvl 1 */
}
.anvil-m3-card.anvil-m3-filled.anvil-m3-disabled {
  color: var(--anvil-m3-surface-variant);
  opacity: .38;
  box-shadow: none;
}

/* Outlined */
.anvil-m3-card.anvil-m3-outlined { 
  background-color: var(--anvil-m3-surface);  
  border: 1px solid var(--anvil-m3-outline);
}
.anvil-m3-card.anvil-m3-outlined.anvil-m3-interactive:not(.anvil-m3-disabled):hover {
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface); 
  box-shadow: none;
}
.anvil-m3-card.anvil-m3-outlined.anvil-m3-disabled {
  color: var(--anvil-m3-surface-variant);
  opacity: .12;
  box-shadow: none;
}

.anvil-m3-card .anvil-container { background-color: inherit; }