.anvil-m3-card {
  display: inline-flex;
  background: none;
  border: none;
  padding: 0 16px; /* But how would you handle the cards that have pictures? */
  margin: 0 4px; /* it says max of 8dp between cards - maybe that should be the responsibility of whoever is implementing it? */
  cursor: pointer;
  border-radius: 12px;
}

/* which one is the default?? */

/* Elevated */
.anvil-m3-card.elevated { background-color: var(--anvil-m3-surface-container-low); box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); }

/* Filled */
.anvil-m3-card.filled { background-color: var(--anvil-m3-surface-container-high); box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); }

/* Outlined */