.anvil-m3-card {
  display: flex;
  margin: 0 8px 8px 0px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  min-width: 24px;
  min-height: 24px;
  width: fit-content;
}
.anvil-m3-card.none-image { }
.anvil-m3-card.top-image { flex-direction: column; }
.anvil-m3-card.bottom-image { flex-direction: column-reverse; }
.anvil-m3-card.left-image { flex-direction: row; }
.anvil-m3-card.right-image { flex-direction: row-reverse; }
.anvil-m3-card.full-image { }

.anvil-m3-card.anvil-m3-outlined { border: 1px solid var(--anvil-m3-outline-variant); background-color: var(--anvil-m3-surface); }
.anvil-m3-card.anvil-m3-filled { background-color: var(--anvil-m3-surface-container-highest); }
.anvil-m3-card.anvil-m3-elevated { 
  background-color: var(--anvil-m3-surface-container-low); 
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);   /* lvl 1 */
}

.anvil-m3-card-rounded {
  border-radius: 10px;
}
.anvil-m3-card-image {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
}
.anvil-m3-card-image.none-image { display: none }
.anvil-m3-card-image.top-image { }
.anvil-m3-card-image.bottom-image { }
.anvil-m3-card-image.left-image { }
.anvil-m3-card-image.right-image { }
.anvil-m3-card-image.full-image { }


.anvil-m3-card-content {
/*   background: yellow; */
}
.anvil-m3-card-content.none-image { }
.anvil-m3-card-content.top-image { }
.anvil-m3-card-content.bottom-image { }
.anvil-m3-card-content.left-image { }
.anvil-m3-card-content.right-image { }
.anvil-m3-card-content.full-image { display: none }

.anvil-m3-card-content-container{
  margin: 0 16px;
}


.anvil-m3-card.anvil-m3-outlined.interactive:not(.disabled):hover {
  background: linear-gradient(0deg, var(--anvil-m3-on-surface-variant-overlay-1), var(--anvil-m3-on-surface-variant-overlay-1)), var(--anvil-m3-surface); 
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);    /* lvl 1 */
}
.anvil-m3-card.anvil-m3-outlined.interactive:not(.disabled):active {
  box-shadow: unset; 
  background: linear-gradient(0deg, var(--anvil-m3-on-surface-variant-overlay-2), var(--anvil-m3-on-surface-variant-overlay-2)), var(--anvil-m3-surface); 
  border-color: var(--anvil-m3-on-surface)
}

.anvil-m3-card.anvil-m3-filled.interactive:not(.disabled):hover {
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface-container-highest); 
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);    /* lvl 1 */
}

.anvil-m3-card.anvil-m3-elevated.interactive:not(.disabled):hover {
  background-color: var(--anvil-m3-surface-container-highest); 
}