.anvil-m3-checkbox-container {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}

.anvil-m3-checkbox-checked.material-symbols-outlined, .anvil-m3-checkbox-indeterminate.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

input.anvil-m3-checkbox {
  opacity:0;
  position: absolute;
  pointer-events: none;
}

.anvil-m3-checkbox-unchecked {
  color: var(--anvil-m3-on-surface-variant);
}


.anvil-m3-checkbox-checked, .anvil-m3-checkbox-unchecked, .anvil-m3-checkbox-indeterminate {
  font-size: 20px;
  color: var(--anvil-m3-primary);
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

input.anvil-m3-checkbox:disabled + .anvil-m3-checkbox-hover > .anvil-m3-checkbox-indeterminate {
  color: var(--anvil-m3-primary);
}

/* TOGGLING */
input.anvil-m3-checkbox + .anvil-m3-checkbox-hover > .anvil-m3-checkbox-checked {
  display: none;
}

input.anvil-m3-checkbox + .anvil-m3-checkbox-hover > .anvil-m3-checkbox-indeterminate {
  display: none;
}

.anvil-m3-checkbox + .anvil-m3-checkbox-hover > .anvil-m3-checkbox-unchecked {
  display: inline;
}

input.anvil-m3-checkbox:checked + .anvil-m3-checkbox-hover > .anvil-m3-checkbox-checked {
  display: inline;
}

input.anvil-m3-checkbox:checked + .anvil-m3-checkbox-hover > .anvil-m3-checkbox-unchecked {
  display: none;
}

/*Error states*/
.anvil-m3-checkbox-container.anvil-m3-checkbox-error .anvil-m3-checkbox-unchecked, .anvil-m3-checkbox-container.anvil-m3-checkbox-error .anvil-m3-checkbox-checked {
  color: var(--anvil-m3-error) !important;
}

/*Disabled states*/
input.anvil-m3-checkbox:disabled + .anvil-m3-checkbox-hover > .anvil-m3-checkbox-checked, input.anvil-m3-checkbox:disabled + .anvil-m3-checkbox-hover >  .anvil-m3-checkbox-unchecked, input.anvil-m3-checkbox:disabled + .anvil-m3-checkbox-hover > .anvil-m3-checkbox-indeterminate  {
  color: var(--anvil-m3-on-disabled) !important;
}

input.anvil-m3-checkbox:disabled + .anvil-m3-checkbox-hover:hover {
  background-color: transparent !important;
  cursor: not-allowed;
}


/*Hover, focus, active states*/
.anvil-m3-checkbox-hover {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.anvil-m3-checkbox-hover:hover{
  background-color: var(--anvil-m3-dark-overlay-1);
}
input.anvil-m3-checkbox:checked + .anvil-m3-checkbox-hover:hover{
  background-color: var(--anvil-m3-primary-overlay-2);
}

.anvil-m3-checkbox-container.anvil-m3-checkbox-error .anvil-m3-checkbox-hover:hover {
  background-color: var(--anvil-m3-error-overlay-1);
}

input.anvil-m3-checkbox:disabled + .anvil-m3-checkbox-container:hover {
  background-color: transparent;
}

input.anvil-m3-checkbox:focus:not(:checked)+.anvil-m3-checkbox-hover{
  background-color: var(--anvil-m3-dark-overlay-3);
}

input.anvil-m3-checkbox:focus:checked+.anvil-m3-checkbox-hover {
  background-color: var(--anvil-m3-primary-overlay-3);
}

input.anvil-m3-checkbox-error:focus:not(:checked)+.anvil-m3-checkbox-hover{
  background-color: var(--anvil-m3-dark-overlay-3);
}

input.anvil-m3-checkbox-error:focus:checked+.anvil-m3-checkbox-hover {
  background-color: var(--anvil-m3-primary-overlay-3);
}

input.anvil-m3-checkbox:active:not(:checked)+.anvil-m3-checkbox-hover{
  background-color: var(--anvil-m3-primary-overlay-3) !important;
}

input.anvil-m3-checkbox:checked:active+.anvil-m3-checkbox-hover {
  background-color: var(--anvil-m3-dark-overlay-3) !important;
}

/* LABEL */
.anvil-m3-checkbox-label {
  color: var(--anvil-m3-on-surface);
  font-style: normal;
}
