.anvil-m3-checkbox-container {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input.anvil-m3-checkbox:after {
  font-size: 18px !important;
  font-family: 'Material Symbols Outlined';
  content: "done";
  -webkit-font-feature-settings: 'liga' 1;
  -moz-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
  color: var(--anvil-m3-on-primary);
  display: none;
  margin-top: -4px;
}

input.anvil-m3-checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid var(--anvil-m3-on-surface-variant);
}

input.anvil-m3-checkbox:checked:after {
  display: block !important;
}

input.anvil-m3-checkbox:checked {
  background-color: var(--anvil-m3-primary);
  border: 0px;
}