.anvil-m3-fileloader-icon-container {
  cursor: pointer
}

.anvil-m3-fileloader-icon-container {
  display: flex;
  align-items: center;
}

input.anvil-m3-fileloader-input:disabled ~ *{
  cursor: not-allowed;
}

input.anvil-m3-fileloader-input:disabled ~ *{
  color: var(--anvil-m3-on-disabled);
}

.anvil-m3-fileloader-icon-container {
  color: var(--anvil-m3-primary);
}


.anvil-m3-fileloader-container {
  align-items: center;
  display: flex;
}