anvil-m3-fileloader-icon-container {
  cursor: pointer
}

.anvil-m3-fileloader-icon-container {
  display: flex;
  align-items: center;
}

input.anvil-m3-fileloader-input:disabled ~ *{
  cursor: not-allowed;
}