.anvil-m3-fileloader-form:has(input.anvil-m3-fileloader-input:disabled) a.anvil-m3-fileloader-container span.anvil-m3-fileloader-icon, 
.anvil-m3-fileloader-form:has(input.anvil-m3-fileloader-input:disabled) a.anvil-m3-fileloader-container label.anvil-m3-fileloader-label,
.anvil-m3-fileloader-form:has(input.anvil-m3-fileloader-input:disabled) a.anvil-m3-fileloader-container {
  color: var(--anvil-m3-on-disabled);
  cursor: not-allowed;
}

.anvil-m3-fileloader-form:has(input.anvil-m3-fileloader-input:disabled) a.anvil-m3-fileloader-container:focus .anvil-m3-fileloader-label{
  text-decoration: none !important;
}

.anvil-m3-fileloader-form {
  display: flex;
  
}

.anvil-m3-fileloader-container {
  align-items: center;
  display: inline-flex;
  color: var(--anvil-m3-primary);
  cursor: pointer
}
/* 
.anvil-m3-fileloader-container .anvil-m3-fileloader-label {
  cursor: pointer
}
 */
.anvil-m3-fileloader-container:hover {
  color: var(--anvil-m3-on-primary-container);
  text-decoration: none;
}

.anvil-m3-fileloader-container:focus  {
  text-decoration: none;
  color: var(--anvil-m3-primary);
}

.anvil-m3-fileloader-container:focus .anvil-m3-fileloader-label {
  text-decoration: underline 2px !important;
}

/* .anvil-m3-fileloader-container:focus {
  border: 1px solid var(--anvil-m3-primary);
  color: var(--anvil-m3-primary);
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px var(--anvil-m3-surface);
  margin: -1px;
  padding-right: 3px;
  outline: 0;
  text-decoration: none;
} */

.anvil-m3-fileloader-container:focus:hover {
  color: var(--anvil-m3-on-primary-container)
}

.anvil-m3-fileloader-container.anvil-m3-elevated,
.anvil-m3-fileloader-container.anvil-m3-filled,
.anvil-m3-fileloader-container.anvil-m3-tonal,
.anvil-m3-fileloader-container.anvil-m3-outlined {
  padding: 0 12px;
  border-radius: 100px;
  line-height: 40px;
} 


/* Elevated */
.anvil-m3-fileloader-container.anvil-m3-elevated { background-color: var(--anvil-m3-surface-container-low); box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); 
                                    padding: 0 24px; 
                                   }
.anvil-m3-fileloader-container.anvil-m3-elevated:hover { background-color: var(--anvil-m3-primary-overlay-2); box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); }
.anvil-m3-fileloader-container.anvil-m3-elevated:focus { background-color: var(--anvil-m3-primary-overlay-3); box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); }
.anvil-m3-fileloader-container.anvil-m3-elevated:active { background-color: var(--anvil-m3-primary-overlay-3); box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); }
.anvil-m3-fileloader-form:has(input.anvil-m3-fileloader-input:disabled) a.anvil-m3-fileloader-container.anvil-m3-elevated{ background-color: var(--anvil-m3-disabled-container); color: var(--anvil-m3-on-disabled); box-shadow: none; }

/* Filled */
.anvil-m3-fileloader-container.anvil-m3-filled { background-color: var(--anvil-m3-primary); color: var(--anvil-m3-on-primary); 
                                  padding: 0 24px; 
                                 }
.anvil-m3-fileloader-container.anvil-m3-filled:hover { background: linear-gradient(0deg, var(--anvil-m3-light-overlay-1), var(--anvil-m3-light-overlay-1)), var(--anvil-m3-primary); box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); }
.anvil-m3-fileloader-container.anvil-m3-filled:focus { background: linear-gradient(0deg, var(--anvil-m3-light-overlay-2), var(--anvil-m3-light-overlay-2)), var(--anvil-m3-primary);}
.anvil-m3-fileloader-container.anvil-m3-filled:active { background: linear-gradient(0deg, var(--anvil-m3-light-overlay-2), var(--anvil-m3-light-overlay-2)), var(--anvil-m3-primary);}
.anvil-m3-fileloader-form:has(input.anvil-m3-fileloader-input:disabled) a.anvil-m3-fileloader-container.anvil-m3-filled{ background: var(--anvil-m3-disabled-container); color: var(--anvil-m3-on-disabled); box-shadow: none; }

/* Tonal */
.anvil-m3-fileloader-container.anvil-m3-tonal { background-color: var(--anvil-m3-secondary-container); color: var(--anvil-m3-on-secondary-container); 
                                 padding: 0 24px; 
                                }
.anvil-m3-fileloader-container.anvil-m3-tonal:hover { background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-secondary-container); box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); }
.anvil-m3-fileloader-container.anvil-m3-tonal:focus { background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-2), var(--anvil-m3-dark-overlay-2)), var(--anvil-m3-secondary-container); }
.anvil-m3-fileloader-container.anvil-m3-tonal:active { background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-2), var(--anvil-m3-dark-overlay-2)), var(--anvil-m3-secondary-container); }
.anvil-m3-fileloader-form:has(input.anvil-m3-fileloader-input:disabled) a.anvil-m3-fileloader-container.anvil-m3-tonal{ background: var(--anvil-m3-disabled-container); color: var(--anvil-m3-on-disabled); box-shadow: none; }

/* Outlined */
.anvil-m3-fileloader-container.anvil-m3-outlined { border: 1px solid var(--anvil-m3-outline); 
                                    padding: 0 24px; 
                                   }
.anvil-m3-fileloader-container.anvil-m3-outlined:hover { background-color: var(--anvil-m3-primary-overlay-2); }
.anvil-m3-fileloader-container.anvil-m3-outlined:focus { background-color: var(--anvil-m3-primary-overlay-3); }
.anvil-m3-fileloader-container.anvil-m3-outlined:active { background-color: var(--anvil-m3-primary-overlay-3); }
.anvil-m3-fileloader-form:has(input.anvil-m3-fileloader-input:disabled) a.anvil-m3-fileloader-container.anvil-m3-outlined { background: none; border: 1px solid var(--anvil-m3-on-disabled); }
