.anvil-m3-iconbutton-component {
  height: 48px;
  width: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
}

.anvil-m3-iconbutton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: pink;
}

.anvil-m3-iconbutton-icon {
  font-size: 20px;
  vertical-align: baseline;
}

.anvil-m3-iconbutton-icon.selected {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* 

<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
</style> */