.anvil-m3-iconbutton-component {
  height: 48px;
  width: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*       "" : None,
      "Filled": "filled",
      "Filled tonal": "filled-tonal",
      "Outlined": "outlined"} */

.anvil-m3-iconbutton-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  color: var(--anvil-m3-on-surface-variant);
  border: none;
  text-align: center;
  cursor: pointer;
} 
.anvil-m3-iconbutton-container:hover { background-color: var(--anvil-m3-dark-overlay-1); }
.anvil-m3-iconbutton-container:focus { background-color: var(--anvil-m3-dark-overlay-2); }
.anvil-m3-iconbutton-container:active { background-color: var(--anvil-m3-dark-overlay-2); }

/* .anvil-m3-iconbutton-container.filled { background-color: var(--anvil-m3-primary-overlay-2) } */
.anvil-m3-iconbutton-container.filled-tonal {}
.anvil-m3-iconbutton-container.outlined {}

.anvil-m3-iconbutton-icon {
  font-size: 20px;
  vertical-align: middle;
}

.anvil-m3-iconbutton-icon { }

.anvil-m3-iconbutton-icon.selected {
  color: var(--anvil-m3-primary);
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}