/***** Menu *****/
.anvil-m3-menu-items-container { 
  min-width: 112px;
  /* max-width: 280px; */
  min-height: 24px;
  /* max-height: 100vh; */
  border-radius: 4px;
  padding: 8px 0;
  background-color: var(--anvil-m3-surface-container);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); /* level 2*/
  overflow-y: auto;
  position: relative;
  z-index: 1050;
}

.anvil-m3-menu-hidden {
/*   display: none; */
  pointer-events: none;
  opacity: 0;
  height: 1px;
  overflow: hidden;
}

/***** MenuItems *****/
.anvil-m3-menuItem-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0 12px;
  box-sizing: border-box;
}

.anvil-m3-menuItem-leadingIcon {
  min-width: 24px;
  margin-right: 12px;
  display: none !important;
}

.anvil-m3-menuItem-leadingIcon.anvil-m3-menuItem-showLeadingIcon {
  display: block !important;
}

.anvil-m3-menuItem-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.anvil-m3-menuItem-labelText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
  padding-right: 24px;
}

.anvil-m3-menuItem-trailingText {
  white-space: nowrap;
  padding-right: 12px;
}


.anvil-m3-menuItem-core {
  color: var(--anvil-m3-on-surface);
}

.anvil-m3-menuItem-aux {
  color: var(--anvil-m3-on-surface-variant);
}

/* DISABLED */
.anvil-m3-menuItem-disabled {
  cursor: default !important;
  background: var(--anvil-m3-surface-container) !important;
}
.anvil-m3-menuItem-disabled .anvil-m3-menuItem-core {
  color: var(--anvil-m3-on-surface) !important;
  opacity: .38 !important;
}
.anvil-m3-menuItem-disabled .anvil-m3-menuItem-aux {
  color: var(--anvil-m3-on-surface) !important;
  opacity: .38 !important;
}

/* hover */
.anvil-m3-menuItem-container:hover,  .anvil-m3-menuItem-container-keyboardHover {
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface-container);
  cursor: pointer;
}

.anvil-m3-menuItem-container:hover .anvil-m3-menuItem-core,  .anvil-m3-menuItem-container-keyboardHover .anvil-m3-menuItem-core,{
  color: var(--anvil-m3-on-surface)
}

.anvil-m3-menuItem-container:hover .anvil-m3-menuItem-aux, .anvil-m3-menuItem-container-keyboardHover  .anvil-m3-menuItem-aux {
  color: var(--anvil-m3-on-surface-variant)
}

/* todo: focus and active */

/***** ButtonMenu *****/
.anvil-m3-buttonMenu-container { 
  display: flex;
  position: relative;
}

.anvil-m3-buttonMenu-items-container {
  box-sizing: border-box;
  position: absolute;
/*   position: fixed; */
  inset: 0 0 auto auto;
  width: max-content;
  min-width: 112px;
  max-width: 280px;
  min-height: 24px;
  /* max-height: 100vh; */
  border-radius: 4px;
  padding: 8px 12px;
  background-color: var(--anvil-m3-surface-container);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); /* level 2*/
  overflow-y: auto;
  z-index: 9;
}

.anvil-m3-buttonMenu-items-hidden {
  pointer-events: none;
  opacity: 0;
/*   height: 1px; */
  overflow: hidden;
}

/***** DropdownMenu *****/
.anvil-m3-dropdownMenu-container {
  display: inline-block;
  position: relative;
  width: 100%;
}


.anvil-m3-dropdownMenu-items-container { 
/*   position: fixed; */
  position: absolute;
  overflow-y: auto;
  z-index: 1050;
  box-sizing: border-box;
  
  background-color: var(--anvil-m3-surface-container);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); /* level 2*/
}

.anvil-m3-dropdownMenu-textfield.anvil-m3-dropdown-error
.anvil-m3-textinput.outlined .anvil-m3-textinput-border {
  border-color: var(--anvil-m3-error);
}

.anvil-m3-dropdownMenu-textfield.anvil-m3-dropdown-error
.anvil-m3-textinput .anvil-m3-textinput-input:not(:disabled) {
  box-shadow: inset 0 -1px 0 var(--anvil-m3-error)
}
