.anvil-m3-radiobutton-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.anvil-m3-radiobutton-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  cursor: pointer;
}

.anvil-m3-radiobutton-hover:hover{
  background-color: var(--anvil-m3-dark-overlay-1);
}
.anvil-m3-radiobutton-input:checked + .anvil-m3-radiobutton-hover:hover{
  background-color: var(--anvil-m3-primary-overlay-2);
}

.anvil-m3-radiobutton-input {
  opacity:0;
  position: absolute;
  pointer-events: none;
}

.anvil-m3-radiobutton-checked, .anvil-m3-radiobutton-unchecked {
  font-size: 20px;
  color: var(--anvil-m3-on-surface-variant);
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

/* TOGGLING */
.anvil-m3-radiobutton-input+.anvil-m3-radiobutton-hover > .anvil-m3-radiobutton-checked{
  display: none !important;
}
.anvil-m3-radiobutton-input+.anvil-m3-radiobutton-hover > .anvil-m3-radiobutton-unchecked{
  display: inline !important;
}
.anvil-m3-radiobutton-input:checked+.anvil-m3-radiobutton-hover > .anvil-m3-radiobutton-checked{
  display: inline !important;
  color: var(--anvil-m3-primary);
}
.anvil-m3-radiobutton-input:checked+.anvil-m3-radiobutton-hover > .anvil-m3-radiobutton-unchecked{
  display: none !important;
}

/* FOCUS */
.anvil-m3-radiobutton-input:focus:not(:checked)+.anvil-m3-radiobutton-hover{
  background-color: var(--anvil-m3-dark-overlay-3);
}
.anvil-m3-radiobutton-input:focus:checked+.anvil-m3-radiobutton-hover {
  background-color: var(--anvil-m3-primary-overlay-3);
}

/* ACTIVE */
.anvil-m3-radiobutton-input:not(:checked)+.anvil-m3-radiobutton-hover:active{
  background-color: var(--anvil-m3-primary-overlay-3) !important;
}
.anvil-m3-radiobutton-input:checked:active+.anvil-m3-radiobutton-hover {
  background-color: var(--anvil-m3-dark-overlay-3) !important;
}

/* DISABLED */

.anvil-m3-radiobutton-input:disabled + .anvil-m3-radiobutton-hover > .anvil-m3-radiobutton-checked, .anvil-m3-radiobutton-input:disabled + .anvil-m3-radiobutton-hover >  .anvil-m3-radiobutton-unchecked{
  color: var(--anvil-m3-on-disabled) !important;
}

.anvil-m3-radiobutton-input:disabled + .anvil-m3-radiobutton-hover:hover{
  background-color: transparent !important;
  cursor: not-allowed;
}

/* LABEL */
.anvil-m3-radiobutton-label {
  vertical-align: middle;
  padding-left: 16px;
  color: var(--anvil-m3-on-surface);
  font-style: normal;
}