.anvil-m3-slider { position: relative; margin: 20px; z-index: 1; }
.anvil-m3-slider input {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  background: transparent;  
}

.anvil-m3-slider-track-container {
  height: 4px;
  position: absolute;
  left: 10px;
  bottom: 28%;
  z-index: -1;
}

.anvil-m3-slider-progress, .anvil-m3-slider-background {
  position: absolute;
  height: 100%;
  border-radius: 4px;
  pointer-events: none;
}

.anvil-m3-slider-progress { background: var(--anvil-m3-primary); }
.anvil-m3-slider-background { width: 100%; background-color: var(--anvil-m3-surface-container-highest); }

.anvil-m3-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: var(--anvil-m3-primary);
  cursor: pointer;
  margin-top: -8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.30);
}

.anvil-m3-slider input::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: var(--anvil-m3-primary);
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.30);
}

.anvil-m3-slider input::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: var(--anvil-m3-primary);
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.30);
}

.anvil-m3-slider input::-webkit-slider-thumb:hover { outline: 10px solid var(--anvil-m3-primary-overlay-2); }
.anvil-m3-slider input::-moz-range-thumb:hover { outline: 10px solid var(--anvil-m3-primary-overlay-2); }
.anvil-m3-slider input::-ms-thumb:hover { outline: 10px solid var(--anvil-m3-primary-overlay-2); }

.anvil-m3-slider input:focus::-webkit-slider-thumb { outline: 10px solid var(--anvil-m3-primary-overlay-3); }
.anvil-m3-slider input:focus::-moz-range-thumb { outline: 10px solid var(--anvil-m3-primary-overlay-3); }
.anvil-m3-slider input:focus::-ms-thumb { outline: 10px solid var(--anvil-m3-primary-overlay-3); }

.anvil-m3-slider input::-webkit-slider-thumb:active { outline: 10px solid var(--anvil-m3-primary-overlay-3); }
.anvil-m3-slider input::-moz-range-thumb:active { outline: 10px solid var(--anvil-m3-primary-overlay-3); }
.anvil-m3-slider input::-ms-thumb:active { outline: 10px solid var(--anvil-m3-primary-overlay-3); }

.anvil-m3-slider input::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
}

.anvil-m3-slider-label-container {
  position: absolute;
  display: flex;
  background-color: var(--anvil-m3-primary);
  color: var(--anvil-m3-on-primary);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 50% 50% 50%;
  transform: rotate(225deg);
  margin-top: -50px;
  margin-left: -14px;
}

.anvil-m3-slider-label { transform: rotate(135deg); }


.anvil-m3-slider input:disabled::-webkit-slider-runnable-track { cursor: not-allowed; }
.anvil-m3-slider input:disabled::-webkit-slider-thumb { 
  background: linear-gradient(0deg, var(--anvil-m3-on-disabled), var(--anvil-m3-on-disabled)), var(--anvil-m3-surface); 
  cursor: not-allowed;
  box-shadow: none;
}
.anvil-m3-slider input:disabled::-moz-range-thumb { 
  background: linear-gradient(0deg, var(--anvil-m3-on-disabled), var(--anvil-m3-on-disabled)), var(--anvil-m3-surface); 
  cursor: not-allowed; 
  box-shadow: none;
}
.anvil-m3-slider input:disabled::-ms-thumb { 
  background: linear-gradient(0deg, var(--anvil-m3-on-disabled), var(--anvil-m3-on-disabled)), var(--anvil-m3-surface); 
  cursor: not-allowed; 
  box-shadow: none;
}
.anvil-m3-slider-disabled .anvil-m3-slider-progress { background: linear-gradient(0deg, var(--anvil-m3-on-disabled), var(--anvil-m3-on-disabled)), var(--anvil-m3-surface); }
.anvil-m3-slider-disabled .anvil-m3-slider-background { background-color: var(--anvil-m3-disabled-container); }

.anvil-m3-slider input:disabled::-webkit-slider-thumb:hover { outline: none; }
.anvil-m3-slider input:disabled::-moz-range-thumb:hover { outline: none; }
.anvil-m3-slider input:disabled::-ms-thumb:hover { outline: none; }

.anvil-m3-slider input:disabled:focus::-webkit-slider-thumb { outline: none; }
.anvil-m3-slider input:disabled:focus::-moz-range-thumb { outline: none; }
.anvil-m3-slider input:disabled:focus::-ms-thumb { outline: none; }

.anvil-m3-slider input:disabled::-webkit-slider-thumb:active { outline: none; }
.anvil-m3-slider input:disabled::-moz-range-thumb:active { outline: none; }
.anvil-m3-slider input:disabled::-ms-thumb:active { outline: none; }