.anvil-m3-textinput { width: calc(100% - 10px); }
.anvil-m3-textinput-input-container {position: relative;}
.anvil-m3-textinput-input {
  height: 56px;
  padding: 0 16px;
  border-radius: 4px 4px 0 0;
  border: none;
  box-shadow: inset 0 -1px 0 var(--anvil-m3-on-surface-variant);
  background-color: var(--anvil-m3-surface-container-highest);
  box-sizing: border-box;
  letter-spacing: 0.5px;
  color: var(--anvil-m3-on-surface);
  caret-color: var(--anvil-m3-primary);
  width: 100%;
  vertical-align: middle;
}

.anvil-m3-textinput-border { pointer-events: none; }

.anvil-m3-textinput-icon-container, .anvil-m3-textinput-border {
  display: flex;
  position: absolute;
  inset: 0;
  color: var(--anvil-m3-on-surface-variant);
}

.anvil-m3-textinput-icon-container-spacer {
  flex: 1 1 auto;
  height: 100%;
  min-width: 10px;
  pointer-events: none;
}

.anvil-m3-textinput-icon-container { display: flex; align-items: center; padding-left: 16px; position: absolute;}
.anvil-m3-textinput-border { height: 56px; display: grid; grid-template-columns: 16px auto 1fr; grid-template-rows: 4px 1fr auto 1fr 4px; }
/* .anvil-m3-border-container { display: grid; grid-template-columns: 16px auto 1fr; grid-template-rows: 4px 1fr auto 1fr 4px; } */

.anvil-m3-textinput-border.with-icon { grid-template-columns: 48px auto 1fr; }
.anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-b { grid-column: 1 / span 3; grid-row: 2 / span 4; }
.anvil-m3-textinput-label-text { 
  grid-column: 2 / span 1; grid-row: 3 / span 1; }

.anvil-m3-textinput-subcontent {
  display: flex;
  gap: 16px;
  padding: 4px 16px 0 16px;
}

.anvil-m3-textinput-supporting-text, .anvil-m3-textinput-character-count {
  display: block;
  color: var(--anvil-m3-on-surface-variant);
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.anvil-m3-textinput-supporting-text {
  flex: 1 1 auto;
}
.anvil-m3-textinput-character-count {
  flex: 0 1 auto;
}

.anvil-m3-textinput-input:hover {
  box-shadow: inset 0 -1px 0 var(--anvil-m3-on-surface);
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface-container-highest);
}
.anvil-m3-textinput-input:disabled {
  background: var(--anvil-m3-disabled-container-2);
  box-shadow: inset 0 -1px 0 var(--anvil-m3-on-disabled);
  cursor: not-allowed;
  color: var(--anvil-m3-on-disabled) !important;
}

.anvil-m3-textinput-input:disabled::placeholder {
  color: var(--anvil-m3-on-disabled);
}

.anvil-m3-textinput-input:disabled + .anvil-m3-textinput-icon-container, 
.anvil-m3-textinput-input:disabled + .anvil-m3-textinput-border { color: var(--anvil-m3-on-disabled); }

.anvil-m3-textinput-input:disabled ~ .anvil-m3-textinput-icon-container > i { color: var(--anvil-m3-on-disabled) !important; }

.anvil-m3-textinput-input:focus { box-shadow: inset 0 -2px 0 var(--anvil-m3-primary); }
.anvil-m3-textinput-input:focus.has_label_text, .anvil-m3-textarea:placeholder-shown, .anvil-m3-textarea.has_label_text:not(:placeholder-shown) { padding-top: 24px; padding-bottom: 8px;}
.anvil-m3-textinput-input:focus + .anvil-m3-textinput-border,
:not(.anvil-m3-textinput-input:placeholder-shown) + .anvil-m3-textinput-border,
.anvil-m3-textinput-input.anvil-m3-has-placeholder + .anvil-m3-textinput-border { grid-template-rows: 4px 0fr auto 1fr 4px; }
.anvil-m3-textinput-input:focus + .anvil-m3-textinput-border.with-icon { grid-template-columns: 48px auto 1fr; }

.anvil-m3-textinput-input:focus + .anvil-m3-textinput-border .anvil-m3-textinput-label-text,
:not(.anvil-m3-textinput-input:placeholder-shown) + .anvil-m3-textinput-border .anvil-m3-textinput-label-text,
.anvil-m3-textinput-input.anvil-m3-has-placeholder + .anvil-m3-textinput-border .anvil-m3-textinput-label-text { font-size: 12px; padding-top: 8px; transform: translate(0, -15%); }

.anvil-m3-textinput-input:focus + .anvil-m3-textinput-border .anvil-m3-textinput-label-text {color: var(--anvil-m3-primary); }

.anvil-m3-textinput-border, .anvil-m3-textinput-border .anvil-m3-textinput-label-text  { transition: all 0.15s ease-out; }
.anvil-m3-textarea, .anvil-m3-textarea:placeholder-shown:not(.has_label_text) { padding-top: 16px; }
.anvil-m3-textfield { padding-top: 16px; }

.anvil-m3-textfield:not(.has_label_text) { padding-top: unset}

.anvil-m3-textinput-icon-container > i { font-size: 20px; font-weight: bold; pointer-events: none;}
.anvil-m3-textinput-leading-icon { padding-right: 16px }
.anvil-m3-textinput-trailing-icon { position: absolute; right: 12px; cursor: pointer}

.anvil-m3-textinput-disabled > * { color: var(--anvil-m3-on-disabled) !important; }

/* Outlined */
.anvil-m3-textinput.outlined {padding-top: 5px;}
.anvil-m3-textinput.outlined .anvil-m3-textinput-input {box-shadow: none; background: none; }

.anvil-m3-textinput.outlined .anvil-m3-textinput-border {
  border-color: var(--anvil-m3-outline);
  border-radius: 4px;
  pointer-events: none;
}
.anvil-m3-textinput.outlined .anvil-m3-border-container.with-icon { grid-template-columns: 48px auto 1fr; }

.anvil-m3-textinput.outlined .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-tl { border: 1px solid var(--anvil-m3-outline); border-color: inherit; border-right: none; border-bottom: none; border-radius: 4px 0 0 0; }
.anvil-m3-textinput.outlined .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-t { border-top: 1px solid var(--anvil-m3-outline); border-color: inherit; }
.anvil-m3-textinput.outlined .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-tr { border: 1px solid var(--anvil-m3-outline); border-color: inherit; border-left: none; border-bottom: none; border-radius: 0 4px 0 0; }
.anvil-m3-textinput.outlined .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-b { grid-column: 1 / span 3; grid-row: 2 / span 4; border: 1px solid var(--anvil-m3-outline); border-color: inherit; border-top: none; border-radius: 0 0 4px 4px; }

.anvil-m3-textinput.outlined .anvil-m3-textinput-icon-container { inset: 2px; border-radius: 4px; }
.anvil-m3-textinput.outlined .anvil-m3-textinput-label-text { grid-column: 2 / span 1; grid-row: 3 / span 1; }

.anvil-m3-textinput.outlined .anvil-m3-textinput-input:focus:not(.anvil-m3-has-placeholder).has_label_text + .anvil-m3-textinput-border, 
.anvil-m3-textinput.outlined :not(.anvil-m3-textinput-input:placeholder-shown) + .anvil-m3-textinput-border,
.anvil-m3-textinput.outlined .anvil-m3-textinput-input.anvil-m3-has-placeholder + .anvil-m3-textinput-border {
  grid-template-columns: 16px auto 1fr;
  grid-template-rows: 4px 0fr auto 1fr 4px;
}

.anvil-m3-textinput.outlined .anvil-m3-textinput-input:not(.has_label_text) + .anvil-m3-textinput-border{
  grid-template-columns: 16px 0px 1fr;
}

.anvil-m3-textinput.outlined .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border .anvil-m3-textinput-label-text,
.anvil-m3-textinput.outlined :not(.anvil-m3-textinput-input:placeholder-shown) + .anvil-m3-textinput-border .anvil-m3-textinput-label-text,
.anvil-m3-textinput.outlined .anvil-m3-textinput-input.anvil-m3-has-placeholder + .anvil-m3-textinput-border .anvil-m3-textinput-label-text {
  font-size: 12px;
  padding: 0 4px;
  transform: translate(0, calc(-50% - 4px))
}
.anvil-m3-textinput.outlined .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-tl,
.anvil-m3-textinput.outlined .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-t,
.anvil-m3-textinput.outlined .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-tr,
.anvil-m3-textinput.outlined .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-b { border-color: var(--anvil-m3-primary); border-width: 2px; }

.anvil-m3-textinput.outlined .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-t,
.anvil-m3-textinput.outlined :not(.anvil-m3-textinput-input:placeholder-shown) + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-t,
.anvil-m3-textinput.outlined .anvil-m3-textinput-input.anvil-m3-has-placeholder + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-t { border-color: transparent; }

.anvil-m3-textinput.outlined .anvil-m3-textinput-border, 
.anvil-m3-textinput.outlined .anvil-m3-textinput-border .anvil-m3-textinput-label-text, 
.anvil-m3-textinput.outlined .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-t  { transition: all 0.15s ease-out; }


.anvil-m3-textinput.outlined .anvil-m3-textinput-input:hover + .anvil-m3-textinput-border { border-color: var(--anvil-m3-on-surface); }
.anvil-m3-textinput.outlined .anvil-m3-textinput-input:hover + .anvil-m3-textinput-icon-container { color: var(--anvil-m3-on-surface); }

.anvil-m3-textinput.outlined .anvil-m3-textinput-input:disabled + .anvil-m3-textinput-border { border-color: var(--anvil-m3-disabled-container) !important; }

.anvil-m3-textinput.outlined .anvil-m3-textinput-input:focus.has_label_text, .anvil-m3-textinput.outlined .anvil-m3-textarea:placeholder-shown, .anvil-m3-textinput.outlined .anvil-m3-textarea.has_label_text:not(:placeholder-shown) { padding-top: 18px; padding-bottom: 8px;}
.anvil-m3-textinput.outlined .anvil-m3-textarea, .anvil-m3-textinput.outlined .anvil-m3-textarea:placeholder-shown:not(.has_label_text) { padding-top: 18px; }
.anvil-m3-textinput.outlined .anvil-m3-textfield.has_label_text { padding-top: unset; }
.anvil-m3-textinput.outlined .anvil-m3-textfield.has_label_text:focus { padding-top: 8px;}

/* ERROR STATES */

.anvil-m3-textinput.anvil-m3-textinput-error .has_label_text:not(:hover):not(:disabled) + .anvil-m3-textinput-border .anvil-m3-textinput-label-text { color: var(--anvil-m3-error); }
.anvil-m3-textinput.anvil-m3-textinput-error .anvil-m3-textinput-subcontent > * { color: var(--anvil-m3-error) }
.anvil-m3-textinput.anvil-m3-textinput-error .anvil-m3-textinput-icon-container .anvil-m3-textinput-trailing-icon { color: var(--anvil-m3-error); }
.anvil-m3-textinput.anvil-m3-textinput-error .anvil-m3-textinput-input:not(:disabled) { box-shadow: inset 0 -1px 0 var(--anvil-m3-error); caret-color: var(--anvil-m3-error); }

.anvil-m3-textinput.anvil-m3-textinput-error:not(.outlined) .anvil-m3-textinput-input:hover:not(:disabled) { box-shadow: inset 0 -1px 0 var(--anvil-m3-on-error-container);}
.anvil-m3-textinput.anvil-m3-textinput-error .anvil-m3-textinput-input.has_label_text:hover:not(:disabled) + .anvil-m3-textinput-border { color: var(--anvil-m3-on-error-container); }

.anvil-m3-textinput.anvil-m3-textinput-error .anvil-m3-textinput-input:hover ~ .anvil-m3-textinput-icon-container .anvil-m3-textinput-trailing-icon { color: var(--anvil-m3-on-error-container); }

.anvil-m3-textinput.anvil-m3-textinput-error .anvil-m3-textinput-input:focus { box-shadow: inset 0 -2px 0 var(--anvil-m3-error);}
.anvil-m3-textinput.anvil-m3-textinput-error .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border .anvil-m3-textinput-label-text { color: var(--anvil-m3-error); }

.anvil-m3-textinput.outlined.anvil-m3-textinput-error .anvil-m3-textinput-input { box-shadow: none; }
.anvil-m3-textinput.outlined.anvil-m3-textinput-error .anvil-m3-textinput-border { border-color: var(--anvil-m3-error); }

.anvil-m3-textinput.outlined.anvil-m3-textinput-error .anvil-m3-textinput-input:hover + .anvil-m3-textinput-border { border-color: var(--anvil-m3-on-error-container); }
.anvil-m3-textinput.outlined.anvil-m3-textinput-error .anvil-m3-textinput-input:hover ~ .anvil-m3-textinput-icon-container .anvil-m3-textinput-trailing-icon { color: var(--anvil-m3-on-error-container); }


.anvil-m3-textinput.outlined.anvil-m3-textinput-error .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-tl,
.anvil-m3-textinput.outlined.anvil-m3-textinput-error .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-t,
.anvil-m3-textinput.outlined.anvil-m3-textinput-error .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-tr,
.anvil-m3-textinput.outlined.anvil-m3-textinput-error .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-b { border-color: var(--anvil-m3-error); border-width: 2px; }
.anvil-m3-textinput.outlined.anvil-m3-textinput-error .anvil-m3-textinput-input:focus + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-t,
.anvil-m3-textinput.outlined.anvil-m3-textinput-error :not(.anvil-m3-textinput-input:placeholder-shown) + .anvil-m3-textinput-border > .anvil-m3-textinput-border-container-cell-t { border-color: transparent; }

.anvil-m3-textinput-error .material-symbols-outlined.anvil-m3-textinput-trailing-icon  {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


/* text area specific */
.anvil-m3-textarea {
  resize: none;
}

/*  text field specific */
.anvil-m3-textfield {
}