.anvil-m3-textinput {
  width: calc(100% - 10px);
}

.anvil-m3-textinput-input-container {
  width: 100%;
  padding: 0 16px;
  border-radius: 4px 4px 0 0;
  border: none;
  box-shadow: inset 0 -1px 0 var(--anvil-m3-on-surface-variant);
  background-color: var(--anvil-m3-surface-container-highest);
  box-sizing: border-box;
  letter-spacing: 0.5px;
  color: var(--anvil-m3-on-surface);
  caret-color: var(--anvil-m3-primary);
}

.anvil-m3-textinput-input-container:focus-within {
  background-color: lightblue;
}

/* .anvil-m3-textinput-input:focus { box-shadow: inset 0 -2px 0 var(--anvil-m3-primary); padding-top: 24px; padding-bottom: 8px;} */
/* .anvil-m3-textinput .anvil-m3-textinput-input:focus + .anvil-m3-border-container, :not(.anvil-m3-textinput-input:placeholder-shown) + .anvil-m3-border-container, .anvil-m3-textinput-input.anvil-m3-has-placeholder + .anvil-m3-border-container { grid-template-rows: 4px 0fr auto 1fr 4px; } 
.anvil-m3-textinput .anvil-m3-textinput-input:focus + .anvil-m3-border-container.with-icon { grid-template-columns: 48px auto 1fr; }
.anvil-m3-textinput .anvil-m3-textinput-input:focus + .anvil-m3-border-container .anvil-m3-label-text, :not(.anvil-m3-textinput-input:placeholder-shown) + .anvil-m3-border-container .anvil-m3-label-text, .anvil-m3-textinput-input.anvil-m3-has-placeholder + .anvil-m3-border-container .anvil-m3-label-text { font-size: 12px; padding-top: 8px; transform: translate(0, -15%); }
.anvil-m3-textinput .anvil-m3-textinput-input:focus + .anvil-m3-border-container .anvil-m3-label-text {color: var(--anvil-m3-primary); } */

.anvil-m3-border-container { }
/* .anvil-m3-border-container.with-icon { grid-template-columns: 48px auto 1fr; } */

/* .anvil-m3-label-text { grid-column: 2 / span 1; grid-row: 3 / span 1; } */

.anvil-m3-text-input-icon-containter, .anvil-m3-border-container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  color: var(--anvil-m3-on-surface-variant);
}

.anvil-m3-textinput-supporting-text, .anvil-m3-textinput-character-count {
  color: var(--anvil-m3-on-surface-variant);
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.anvil-m3-text-input-supporting-text { padding: 4px 16px 0 16px; }
.anvil-m3-text-input-character-count { padding: 4px 16px 0 0px; }

/* text area specific */
.anvil-m3-textarea {
  resize: none;
  background: lightcoral;
  width: 100%;
  border: none;
}

/*  text field specific */
.anvil-m3-textfield {
  background: lightpink;
  width: 100%;
  border: none;
}

.anvil-m3-hide-tag {
  display: none;
}