.anvil-m3-text-field-input {
  height: 56px;
  padding: 0 16px;
  border-radius: 4px 4px 0 0;
  border: none;
  box-shadow: inset 0 -1px 0 var(--anvil-m3-on-surface-variant);
  background-color: var(--anvil-m3-surface-container-highest);
  box-sizing: border-box;
  letter-spacing: 0.5px;
  color: var(--anvil-m3-on-surface);
  caret-color: var(--anvil-m3-primary);
}

.anvil-m3-text-field-label {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
  padding-left: 16px;
  width: 100%;
  color: var(--anvil-m3-on-surface-variant);
}

.anvil-m3-text-field-supporting, .anvil-m3-text-field-character-count {
  color: var(--anvil-m3-on-surface-variant);
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.anvil-m3-text-field-supporting { padding: 4px 16px 0 16px; }
.anvil-m3-text-field-character-count { padding: 4px 16px 0 0px; }

.anvil-m3-text-field-input:hover {
  box-shadow: inset 0 -1px 0 var(--anvil-m3-on-surface);
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface-container-highest);
}

.anvil-m3-text-field-input:disabled {
  background: var(--anvil-m3-disabled-container-2);
  box-shadow: inset 0 -1px 0 var(--anvil-m3-on-disabled);
  cursor: not-allowed;
  color: var(--anvil-m3-on-disabled);
}

.anvil-m3-text-field-input:disabled + .anvil-m3-text-field-label { color: var(--anvil-m3-on-disabled); }
.anvil-m3-text-field-supporting-disabled { color: var(--anvil-m3-on-disabled); }

.anvil-m3-text-field-input:focus { box-shadow: inset 0 -2px 0 var(--anvil-m3-primary); padding-top: 24px; padding-bottom: 8px;}
.anvil-m3-text-field-input:focus + .anvil-m3-text-field-label .anvil-m3-label-text { color: var(--anvil-m3-primary); }
.anvil-m3-text-field-input:focus + .anvil-m3-text-field-label .anvil-m3-label-text, :not(.anvil-m3-text-field-input:placeholder-shown) + .anvil-m3-text-field-label .anvil-m3-label-text {
  font-size: 12px;
  transform: translate(0, -64%);
  letter-spacing: 0.4px;
  line-height: 16px;
  padding-top: 8px;
}

:not(.anvil-m3-text-field-input:placeholder-shown) .anvil-m3-text-field-input { padding-top: 24px; padding-bottom: 8px }
.anvil-m3-text-field-label .anvil-m3-label-text { transition: all 0.15s ease-out; }

.anvil-m3-text-field i { font-size: 20px; }
.anvil-m3-leading-icon { padding-right: 16px }
.anvil-m3-trailing-icon { position: absolute; right: 12px; }


/* Outlined */
.anvil-m3-text-field.anvil-m3-outlined .anvil-m3-text-field-input {
  border-radius: 4px;
  border: 1px solid var(--anvil-m3-outline);
  box-shadow: none;
  background: none;
}

.anvil-m3-text-field.anvil-m3-outlined .anvil-m3-text-field-input:hover { border: 1px solid var(--anvil-m3-on-surface); }
.anvil-m3-text-field.anvil-m3-outlined .anvil-m3-text-field-input:hover + .anvil-m3-text-field-label { color: var(--anvil-m3-on-surface); }

.anvil-m3-text-field.anvil-m3-outlined .anvil-m3-text-field-input:disabled { border: 1px solid var(--anvil-m3-disabled-container); }
.anvil-m3-text-field.anvil-m3-outlined .anvil-m3-text-field-input:disabled + .anvil-m3-text-field-label { color: var(--anvil-m3-on-disabled); }

.anvil-m3-text-field.anvil-m3-outlined .anvil-m3-text-field-input:focus { 
  border: 2px solid var(--anvil-m3-outline);
  padding-top: 24px; 
  padding-bottom: 8px;
}


/*
.anvil-m3-text-field-input:focus + .anvil-m3-text-field-label .anvil-m3-label-text { color: var(--anvil-m3-primary); }
.anvil-m3-text-field-input:focus + .anvil-m3-text-field-label .anvil-m3-label-text, :not(.anvil-m3-text-field-input:placeholder-shown) + .anvil-m3-text-field-label .anvil-m3-label-text {
  font-size: 12px;
  transform: translate(0, -64%);
  letter-spacing: 0.4px;
  line-height: 16px;
  padding-top: 8px;
}

:not(.anvil-m3-text-field-input:placeholder-shown) .anvil-m3-text-field-input { padding-top: 24px; padding-bottom: 8px }
.anvil-m3-text-field-label .anvil-m3-label-text { transition: all 0.15s ease-out; } */