.anvil-m3-text-input-container {
  width: 100%;
  background: lightblue;
}

.anvil-m3-border-container { }
.anvil-m3-text-input-border-container-cell-tl { }
.anvil-m3-text-input-border-container-cell-tl { }
.anvil-m3-text-input-border-container-cell-tl { }
.anvil-m3-text-input-border-container-cell-tl { }

.anvil-m3-text-input-label-text {}

.anvil-m3-text-input-icon-containter {}
.anvil-m3-text-input-icon-leading-icon {}
.anvil-m3-text-input-icon-trailing-icon {}

.anvil-m3-text-input-supporting-text {}
.anvil-m3-text-input-character-count {}

/* text area specific */
.anvil-m3-textarea-input {
  resize: none
}

/*  text field specific */